*.swp
*.swo
*.swn
**/.coverage*
**/coverage.xml
**/coverage.lcov

.envrc
.direnv/
.idea/
.vscode/
*.code-workspace

.DS_Store
.venv/

__pycache__/
.ipynb_checkpoints/
.mypy_cache/
.cache/

dist/
site

poetry.lock
uv.lock
