:root {
    /* TODO(gh): package this font as a _static asset? */
    --pst-font-family-base: Inter, var(--pst-font-family-base-system);
    --pst-font-family-monospace: 'Roboto Mono', var(--pst-font-family-monospace-system);
    --pst-font-family-heading: 'DM Sans', var(--pst-font-family-base);

    --pst-header-height: 4rem;
}

html[data-theme="light"] {
    --pst-color-primary: #6434c1;
    --pst-color-inline-code: #00787e;
}

html[data-theme="dark"] {
    --pst-color-primary: #b59ee1;
    --pst-color-inline-code: #a2d2dd;
}

body {
    overscroll-behavior: none;
}

.navbar-brand {
    height: 24px;
}

.bd-sidebar-primary {
    overflow-y: unset;
}
